.greenbutton {
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 15 px 32 px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  opacity: 0.4;
  transition: 0.2s;
  display: inline-block;
}
.greenbutton:hover {opacity: 1}

.orangebutton {
  background-color: #FF9E1F;
  border: none;
  color: white;
  padding: 15 px 32 px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  opacity: 0.6;
  transition: 0.2s;
  display: inline-block;
}
.orangebutton:hover {opacity: 1}

.redbutton {
  background-color: #FF0000;
  border: none;
  color: white;
  padding: 15 px 32 px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  opacity: 0.8;
  transition: 0.2s;
  display: inline-block;
}
.redbutton:hover {opacity: 1}


