[Unit]
Description=CBF Sensor Dashboard

[Service]
Type=simple
User=root
ExecStart=/usr/local/sbin/cbf_sensor_dashboard 1234 -v 6
ExecStop=/bin/kill $MAINPID
Restart=on-failure
RestartSec=10s
LimitCORE=infinity

[Install]
WantedBy=multi-user.target
