.nominal {
  background-color: #4CAF50;
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  opacity: 0.4;
  transition: 0.2s;
}
.nominal:hover {opacity: 1}

.warn {
  background-color: #FF9E1F;
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  opacity: 0.6;
  transition: 0.2s;
}
.warn:hover {opacity: 1}

.error {
  background-color: #FF0000;
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  opacity: 0.8;
  transition: 0.2s;
}
.error:hover {opacity: 1}

.failure {
  background-color: #777777;
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  opacity: 0.8;
  transition: 0.2s;
}
.faulure :hover {opacity: 1}

.unknown {
  background-color: #777777;
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  opacity: 0.8;
  transition: 0.2s;
}
.error:hover {opacity: 1}

.unreachable {
  background-color: #777777;
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  opacity: 0.8;
  transition: 0.2s;
}
.unreachable:hover {opacity: 1}

.inactive {
  background-color: #777777;
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  opacity: 0.8;
  transition: 0.2s;
}
.inactive:hover {opacity: 1}

button {
    width: 95%;
    font-size: 10px;
    padding: 0 px 32 px;
}

h1 {
    font-size: 50px;
}

table {
    width: 100%;
}

tr {
    border: 1px solid black;
}

table, th, td {
    border-collapse: collapse;
    font-size: 16px;
    padding: 0px;
}

td {
  width: 4%;
  vertical-align: center;
  text-align: center;
  font-family: sans;
  font-size: 10px;
}


@media screen and (min-width: 2500px) {
    h1 {
        font-size: 100px;
    }

    table, th, td {
        font-size: 22px;
    }
    button {
        font-size: 17px;
    }
}


