.nominal {
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 15 px 32 px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 4px 2px;
  cursor: pointer;
  opacity: 0.4;
  transition: 0.2s;
  display: inline-block;
}
.nominal:hover {opacity: 1}

.warn {
  background-color: #FF9E1F;
  border: none;
  color: white;
  padding: 15 px 32 px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 4px 2px;
  cursor: pointer;
  opacity: 0.6;
  transition: 0.2s;
  display: inline-block;
}
.warn:hover {opacity: 1}

.error {
  background-color: #FF0000;
  border: none;
  color: white;
  padding: 15 px 32 px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 4px 2px;
  cursor: pointer;
  opacity: 0.8;
  transition: 0.2s;
  display: inline-block;
}
.error:hover {opacity: 1}

.failure {
  background-color: #FF0000;
  border: none;
  color: white;
  padding: 15 px 32 px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 4px 2px;
  cursor: pointer;
  opacity: 0.8;
  transition: 0.2s;
  display: inline-block;
}
.faulure :hover {opacity: 1}

.unknown {
  background-color: #777777;
  border: none;
  color: white;
  padding: 15 px 32 px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 4px 2px;
  cursor: pointer;
  opacity: 0.8;
  transition: 0.2s;
  display: inline-block;
}
.error:hover {opacity: 1}

button {
    width: 95%;
    font-size: 8px;
}

h1 {
    font-size: 50px;
}

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
    font-size: 25px;
}

td {
  width: 4%;
  vertical-align: center;
  text-align: center;
  font-family: sans;
  font-size: 8px;
}


@media screen and (min-width: 2500px) {
    h1 {
        font-size: 100px;
    }

    table, th, td {
        font-size: 22px;
    }
    button {
        font-size: 20px;
    }
}


